.ancor{
    text-decoration: none;


}
section{
    background-image: url(../img1.jpg);
    background-size: cover;
    background-attachment: fixed;
}
h1,h3{
    color: rgb(185, 168, 180);

}
h3,.name,label{
    color:rgb(118, 118, 121);
}
.layer{
    background-color: rgba(0,0,0,0.7);
}
